BOT_TOKEN=8681277575:AAECC7RbdNbpBhari79a2ei6KQ9mb0SB0zw
ENCRYPTION_KEY=fc6a0d76fda3825e0a24980c95dc85cd33a9da73819da60941a49fb38a7fbcb6
MANAGERS= Abdusattor, Mirolim, Davron, Doston, Abdulloh, Asror, Kozimbek
ADMIN_CHAT_ID=https://t.me/c/2331156673/35
ADMIN_INCLUDE_FULL_PHONE=false
DATA_DIR=./data